//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography


// Colors
$turquoise:#48AAA7;
$white:#fff;
$grey:#74686B;
$black:#000;
$red:#DA5029;

// Neat variables
$max-width: 1200px;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
