/* ==|====================
   Partials/Modules/Navigation

   -------INDEX--------
   #header
   #Logo
   ======================= */

/* #Header
   ========================================================================== */
.header{
   text-align: center;
   width: 100%;
}

/* #Logo
   ========================================================================== */
.content-logo{
   margin-top: 25px;
}
.content-logo-img{
	width: 20%;
}