/* ==|====================
   Partials/Componentes/Navigation

   -------INDEX--------
   #Container of navigation
   #Navigation
   ======================= */

/* #Container of navigation
   ========================================================================== */


/* #Navigation
   ========================================================================== */
.main-nav{
   padding: 20px 0;
   border-top: 1px solid #cecece;
   border-bottom: 1px solid #cecece;

	a{
		@include font-size(14);
		margin-right: 20px;
		color: $grey;
      text-transform: uppercase;
	}
}