/* ==|====================
   Partials/Modules/review

   -------INDEX--------
   #Container of reviews
   ======================= */

/* #Container of reviews
   ========================================================================== */
.review{
	@include outer-container;
	padding: 70px 0;
}
.review-title{
	color: $red;
}
.content-review{
	width: 100%;
	margin: 32px 0;
	border-bottom: 1px solid #cecece;
	@media(min-width: 560px){
		height: 230px
	}
	@media (min-width: 1200px){
		height:199px;
	}
	&:last-child{
		border-bottom: 0;
	}
	.container-stars{
		img{
			width: 7%;
		}
	}
}
.content-review-user{
		display: block;

	@media(min-width: 560px){
		float: left;
		width: 25%;
	}
	@media (min-width: 1000px){
		width: 20%;
		margin-left: 40px
	}
	@media (min-width: 1200px){
		width: 15%;
		margin-left: 0;
	}

	img{
		width: 100%;
		height: inherit;
	}
}
.review-name{
	@include font-size(20);
	color: $red;
	@media(min-width: 560px){
		@include font-size(14);
		text-align: center;
	}
}

.content-review-comment{

	@media(min-width: 560px){
		float: right;
		width: 70%;
	}
	@media (min-width: 1000px){
		margin-right: 40px
	}
	@media (min-width: 1200px){
		width: 80%;
		margin-right: 0;
	}

	h3{
		margin: 0;
		color: $turquoise;
	}
}
