/* ==|====================
   Partials/Modules/sign-in

   -------INDEX--------
   #Container of sign in
   #Form
   ======================= */

/* #Container of sign in
   ========================================================================== */
/* #Form
   ========================================================================== */
.form-email, 
.form-password{
  width: 49%;
  padding: 6px;
  position: relative;
  float: none;
  display: block;
  margin-bottom: 15px;
  left: 144px;
}

.sign-in-form{
  border: 1px solid;
  width: 50%;
  margin: 0 auto;
  padding: 23px 0;

  button{
    @include font-size(14);
    font-family: $title;
    padding: 12px 30px;
    background-color: $turquoise;
    color: $white;
    border:0;
    margin:24px 0;
  }

  a{
    color: $red;
  }
}

